<div>
  <span> <b>movie ID:</b> {{movie.movieId}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span> <b>movie popularity:</b> {{movie.productionCompany}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span> 
  <span> <b>movie duaration:</b> {{movie.movieDuration}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span> <b>movie actors:</b>{{movie.actors}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span> <b>Place filmed:</b> {{movie.place}}</span> 
</div> 
